body{margin:0}
#menubar{
	position: absolute;
	/* width declared by using uiMenubar.setWidth("auto",i); */
	left: 200px;
	top: 100px;
	background-color: #FFFFFF;
	padding: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	clear: both;
	z-index: 200;
	white-space: nowrap;
}
.buttons{
	font-size: 12px;
	font-family: verdana, arial, helvetica;
	color: #00ECEC;
	cursor: default;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	border-color:  #FFFFFF;
	float: left;
	display: inline;
	padding: 1px 6px 1px 6px;
	margin: 1px 1px 1px 1px;
	text-decoration: none;
	z-index: 300;
	font-weight: 900;
}
.buttonsOver{
	font-size: 12px;
	font-family: verdana, arial, helvetica;
	border-width: 1px;
	border-style: solid;
	float: left;
	display: block;
	text-decoration: none;
	z-index: 300;
	color: #3333CC;
	background-color: #FFFFFF;
	padding: 1px 6px 1px 6px;
	margin: 1px;
	border-color: #FFFFFF;
	cursor: default;
	font-weight: 900;
}
.buttonsDown{
	font-size: 12px;
	font-family: verdana, arial, helvetica;
	border-width: 1px;
	border-style: solid;
	float: left;
	display: block;
	font-family: verdana, arial, helvetica;
	text-decoration: none;
	z-index: 300;
	color: #000099;
	background-color: #FFFFFF;
	padding: 1px 5px 0px 6px;
	margin: 2px 1px 1px 2px;
	border-color: #FFFFFF;
	cursor: default;
	font-weight: 900;
}

.menuItem, .label{
	font-size: 12px;
	display: block;
	margin: 0;
	color: #00ECEC;
	background-color: transparent;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
	white-space: nowrap;
	cursor: default;
	z-index: 900;
	width: 100%;
}
.label{
	background-position: center right;
	background-repeat: no-repeat;
	width: auto;
	/* mac ie needs a height for labels */
	height: 15px;
}
a.menuItem:hover {
	font-size: 12px;
	color: #3366CC;
	background-color: #FFFFFF;
}
.labelOver{
	font-size: 12px;
	display: block;
	margin: 0;
	color: #00ECEC;
	background-color: #FFCC66;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
	white-space: nowrap;
	background-position: center right;
	background-repeat: no-repeat;
	width: auto;
	/* mac ie needs a height for labels */
	height: 15px; 

}
.menu {
	font-family: verdana, arial, helvetica;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	position: absolute;
	top: 24px;
	background-color: #FFFFFF;
	visibility: hidden; 
	z-index: 1000;
	padding: 4px 0;
}
.menu * {
	cursor: default;
}
.separator{
	margin:0px 0;
}